In [2117]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()

In [2118]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [2119]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [2120]:
train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [2121]:
train[train.Age.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
50,0052_01,Earth,False,G/6/S,TRAPPIST-1e,NaN,False,4.0,0.0,2.0,4683.0,0.0,Elaney Hubbarton,False
64,0068_01,Mars,False,E/4/S,TRAPPIST-1e,NaN,False,793.0,0.0,2.0,253.0,0.0,Cinst Binie,False
137,0149_01,Earth,True,G/27/S,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Billya Hubbarrison,True
181,0202_02,Europa,False,A/2/P,55 Cancri e,NaN,False,0.0,2433.0,NaN,878.0,443.0,Vegas Embleng,True
184,0206_01,Europa,False,C/9/S,55 Cancri e,NaN,False,2.0,1720.0,12.0,1125.0,122.0,Nuson Brugashed,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274,8835_01,Earth,True,G/1425/S,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,0.0,0.0,Shalle Bartines,False
8301,8862_03,Europa,True,C/329/S,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,0.0,0.0,Alchib Myling,True
8374,8956_04,Earth,False,G/1453/P,TRAPPIST-1e,NaN,False,194.0,1.0,10.0,629.0,0.0,Krisa Bonnondry,False
8407,8988_01,Earth,True,G/1448/S,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,0.0,0.0,Maen Fowlesterez,True
8557,9136_01,Earth,False,G/1471/S,TRAPPIST-1e,NaN,False,6.0,0.0,0.0,800.0,3.0,Sall Hestes,False

In [2122]:
train[train.CryoSleep.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
92,0099_02,Earth,NaN,G/12/P,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,Thewis Connelson,True
98,0105_01,Earth,NaN,F/21/P,TRAPPIST-1e,27.0,False,0.0,0.0,570.0,2.0,131.0,Carry Cleachrand,False
104,0110_02,Europa,NaN,B/5/P,TRAPPIST-1e,40.0,False,0.0,331.0,0.0,0.0,1687.0,Aldeba Bootious,False
111,0115_01,Mars,NaN,F/24/P,TRAPPIST-1e,26.0,False,0.0,0.0,0.0,0.0,NaN,Rohs Pead,True
152,0173_01,Earth,NaN,E/11/S,TRAPPIST-1e,58.0,False,0.0,985.0,0.0,5.0,0.0,Hilip Grifford,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8620,9197_01,Europa,NaN,C/308/P,55 Cancri e,44.0,False,0.0,0.0,0.0,0.0,0.0,Bellus Platch,True
8651,9227_05,Earth,NaN,G/1498/P,TRAPPIST-1e,8.0,False,0.0,0.0,0.0,0.0,0.0,Hard Hinglendez,False
8664,9246_01,Earth,NaN,G/1490/S,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8675,9259_01,Earth,NaN,F/1893/P,TRAPPIST-1e,44.0,False,1030.0,1015.0,0.0,11.0,NaN,Annah Gilleyons,True
8687,9275_03,Europa,NaN,A/97/P,TRAPPIST-1e,30.0,False,0.0,3208.0,0.0,2.0,330.0,Atlasym Conable,True

In [2123]:
train[train.Cabin.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False
93,0101_01,Mars,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,Book Trad,True
103,0110_01,Europa,False,NaN,TRAPPIST-1e,32.0,False,0.0,410.0,6.0,3929.0,764.0,Graviph Aloubtled,False
222,0239_01,Mars,False,NaN,TRAPPIST-1e,37.0,False,637.0,0.0,0.0,92.0,319.0,Diedow Resty,False
227,0244_01,Mars,True,NaN,TRAPPIST-1e,43.0,False,0.0,0.0,0.0,0.0,0.0,Froos Sad,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8209,8772_02,Europa,False,NaN,55 Cancri e,53.0,False,0.0,1127.0,0.0,3939.0,NaN,Naosura Motled,False
8475,9057_01,Europa,False,NaN,55 Cancri e,36.0,True,132.0,3479.0,0.0,3786.0,0.0,Coxan Statch,False
8485,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,0.0,0.0,Bath Brakeng,True
8509,9081_03,Earth,True,NaN,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,0.0,0.0,Beula Clemondsey,False
8656,9233_01,Earth,False,NaN,TRAPPIST-1e,41.0,False,3.0,0.0,668.0,0.0,0.0,Royce Giller,True

In [2124]:
train[train.Destination.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
47,0045_02,Mars,True,F/10/P,NaN,19.0,False,0.0,0.0,0.0,0.0,0.0,Mass Chmad,True
128,0138_02,Earth,False,E/5/P,NaN,34.0,False,0.0,22.0,0.0,564.0,207.0,Monah Gambs,False
139,0152_01,Earth,False,F/32/P,NaN,41.0,False,0.0,0.0,0.0,0.0,607.0,Andan Estron,False
347,0382_01,NaN,False,G/64/P,NaN,23.0,False,348.0,0.0,0.0,4.0,368.0,Blanie Floydendley,False
430,0462_01,Earth,True,G/67/S,NaN,50.0,False,0.0,0.0,0.0,0.0,0.0,Ronia Sosanturney,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8372,8956_02,Earth,True,G/1453/P,NaN,20.0,False,0.0,0.0,0.0,0.0,0.0,Erina Bonnondry,True
8551,9130_01,Mars,True,F/1765/S,NaN,41.0,False,0.0,0.0,0.0,0.0,0.0,Blers Corte,True
8616,9195_02,Mars,True,F/1779/S,NaN,33.0,False,0.0,0.0,0.0,0.0,0.0,Ceros Purle,True
8621,9197_02,Europa,False,C/308/P,NaN,41.0,True,0.0,7964.0,0.0,3238.0,5839.0,Aludram Platch,False
8646,9226_01,Earth,False,F/1788/S,NaN,22.0,False,676.0,0.0,13.0,0.0,12.0,Stendy Connelson,False

In [2125]:
train[train.HomePlanet.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
59,0064_02,NaN,True,E/3/S,TRAPPIST-1e,33.0,False,0.0,0.0,NaN,0.0,0.0,Colatz Keen,True
113,0119_01,NaN,False,A/0/P,TRAPPIST-1e,39.0,False,0.0,2344.0,0.0,65.0,6898.0,Batan Coning,False
186,0210_01,NaN,True,D/6/P,55 Cancri e,24.0,False,0.0,0.0,NaN,0.0,0.0,Arraid Inicont,True
225,0242_01,NaN,False,F/46/S,TRAPPIST-1e,18.0,False,313.0,1.0,691.0,283.0,0.0,Almone Sté,False
234,0251_01,NaN,True,C/11/S,55 Cancri e,54.0,False,0.0,0.0,0.0,0.0,0.0,Diphah Amsive,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8515,9084_01,NaN,False,E/582/P,TRAPPIST-1e,25.0,False,1258.0,0.0,22.0,19.0,0.0,Jurs Mone,False
8613,9194_01,NaN,False,E/603/S,55 Cancri e,53.0,False,0.0,4017.0,0.0,13.0,3147.0,NaN,False
8666,9248_01,NaN,False,F/1792/S,55 Cancri e,38.0,NaN,28.0,1208.0,973.0,207.0,0.0,Gian Perle,True
8674,9257_01,NaN,False,F/1892/P,TRAPPIST-1e,13.0,False,39.0,0.0,1085.0,24.0,0.0,Ties Apple,False
8684,9274_01,NaN,True,G/1508/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,True

In [2126]:
train[(train.HomePlanet.isnull()) & (train.Destination.isnull())]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
347,0382_01,NaN,False,G/64/P,NaN,23.0,False,348.0,0.0,0.0,4.0,368.0,Blanie Floydendley,False
5208,5555_01,NaN,False,G/896/S,NaN,43.0,NaN,1.0,0.0,213.0,7.0,701.0,Winia Blanglison,True
5687,6031_01,NaN,False,F/1146/S,NaN,52.0,False,0.0,645.0,0.0,0.0,395.0,Bobara Alshipson,True
6629,6992_01,NaN,False,G/1131/P,NaN,12.0,False,0.0,0.0,0.0,0.0,0.0,Walles Bakerrison,False

In [2127]:
train[train.Spa.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
48,0050_01,Earth,False,E/1/S,55 Cancri e,35.0,False,790.0,0.0,0.0,NaN,0.0,Sony Lancis,False
143,0164_01,Earth,False,G/28/S,TRAPPIST-1e,57.0,False,50.0,1688.0,0.0,NaN,135.0,Fany Hutchinton,True
245,0265_01,Europa,True,D/8/S,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,NaN,0.0,Etair Herpumble,True
269,0294_01,Europa,True,B/8/S,TRAPPIST-1e,50.0,False,0.0,0.0,0.0,NaN,0.0,Phonons Roforhauge,True
289,0320_01,Earth,False,G/44/S,TRAPPIST-1e,18.0,False,0.0,2.0,0.0,NaN,0.0,Breney Bellarkerd,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8554,9132_01,Mars,False,D/291/P,TRAPPIST-1e,31.0,False,2575.0,1.0,2.0,NaN,0.0,Macon Ancy,False
8566,9149_01,Europa,True,B/350/S,55 Cancri e,37.0,False,0.0,0.0,0.0,NaN,0.0,Canonon Dompreced,True
8569,9151_01,Mars,True,F/1769/S,TRAPPIST-1e,19.0,False,0.0,0.0,0.0,NaN,0.0,Pok Min,True
8623,9197_04,Europa,False,C/308/P,55 Cancri e,30.0,False,1569.0,NaN,0.0,NaN,2252.0,Phecca Platch,False
8643,9222_01,Mars,True,F/1784/S,TRAPPIST-1e,50.0,False,0.0,0.0,0.0,NaN,0.0,Carves Chate,True

In [2128]:
train[train.Name.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
27,0022_01,Mars,False,D/0/P,TRAPPIST-1e,21.0,False,980.0,2.0,69.0,0.0,0.0,NaN,False
58,0064_01,Mars,True,F/14/S,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
65,0069_01,Earth,False,F/16/S,TRAPPIST-1e,42.0,False,887.0,0.0,9.0,6.0,0.0,NaN,True
77,0082_03,Mars,False,F/16/P,TRAPPIST-1e,8.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
101,0108_02,Earth,False,G/19/S,TRAPPIST-1e,31.0,False,562.0,0.0,326.0,0.0,0.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8629,9205_02,Europa,True,B/300/P,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8631,9208_01,Earth,True,G/1485/S,TRAPPIST-1e,35.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8636,9218_01,Europa,True,B/353/S,55 Cancri e,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,NaN,True
8664,9246_01,Earth,NaN,G/1490/S,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True

In [2129]:
pd.crosstab(train.HomePlanet, train.Transported)

Transported  False  True
HomePlanet
Earth         2651   1951
Europa         727   1404
Mars           839    920

In [2130]:
pd.crosstab(train.Destination, train.Transported)

Transported    False  True
Destination
55 Cancri e      702   1098
PSO J318.5-22    395    401
TRAPPIST-1e     3128   2787

In [2131]:
pd.crosstab(train.CryoSleep, train.Transported)

Transported  False  True
CryoSleep
False         3650   1789
True           554   2483

In [2132]:
pd.cut(train.Age, 10).unique()

[(31.6, 39.5], (23.7, 31.6], (55.3, 63.2], (15.8, 23.7], (39.5, 47.4], ..., (47.4, 55.3], (-0.079, 7.9], NaN, (63.2, 71.1], (71.1, 79.0]]
Length: 11
Categories (10, interval[float64, right]): [(-0.079, 7.9] < (7.9, 15.8] < (15.8, 23.7] < (23.7, 31.6] ... (47.4, 55.3] < (55.3, 63.2] < (63.2, 71.1] < (71.1, 79.0]]

In [2133]:
pd.crosstab(train.VIP, train.Transported)

Transported  False  True
VIP
False         4093   4198
True           123     76

In [2134]:
train[train.VIP == True]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
108,0112_01,Europa,False,B/1/S,55 Cancri e,48.0,True,0.0,2537.0,87.0,17.0,13.0,Moth Cowtale,True
120,0128_01,Mars,False,D/3/S,TRAPPIST-1e,61.0,True,2353.0,334.0,9.0,316.0,2.0,Grohs Fles,False
214,0224_01,Mars,False,F/42/S,TRAPPIST-1e,32.0,True,181.0,0.0,5.0,1634.0,0.0,Blues Queen,False
291,0321_01,NaN,False,F/61/S,TRAPPIST-1e,59.0,True,1018.0,0.0,209.0,0.0,0.0,Quites Bache,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8579,9158_01,Europa,True,B/298/P,55 Cancri e,30.0,True,0.0,0.0,0.0,0.0,0.0,Magnon Maglible,True
8614,9194_02,Europa,False,E/603/S,TRAPPIST-1e,32.0,True,1003.0,909.0,0.0,0.0,15.0,Tachba Subwor,False
8621,9197_02,Europa,False,C/308/P,NaN,41.0,True,0.0,7964.0,0.0,3238.0,5839.0,Aludram Platch,False
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,NaN,True
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False

In [2135]:
all_data = [train, test]
for ds in all_data:
    ds['Group'] = ds.PassengerId.str[5:]
    ds['Deck'] = ds.Cabin.str[0]
    ds['Side'] = ds.Cabin.str[-1]
train.head()
# train.PassengerId.str.split('_')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,01,B,P
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,01,F,S
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,01,A,S
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,02,A,S
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,01,F,S

In [2136]:
pd.crosstab(train.Deck, train.Transported)

Transported  False  True
Deck
A              129    127
B              207    572
C              239    508
D              271    207
E              563    313
F             1565   1229
G             1238   1321
T                4      1

In [2137]:
pd.crosstab(train.Side, train.Transported)

Transported  False  True
Side
P             2308   1898
S             1908   2380

In [2138]:
train[train.VIP == True].groupby(['Deck'], as_index=False).count()

,Deck,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Side
0,A,35,35,35,35,35,35,35,34,35,33,35,34,34,35,35,35
1,B,42,42,41,42,41,42,42,42,42,42,42,41,42,42,42,42
2,C,41,41,39,41,40,41,41,41,39,40,39,41,40,41,41,41
3,D,31,29,31,31,31,31,31,30,30,30,31,31,31,31,31,31
4,E,15,15,15,15,15,15,15,14,15,15,15,15,15,15,15,15
5,F,29,26,29,29,29,28,29,29,26,28,29,27,28,29,29,29

In [2139]:
train[train.VIP == True].groupby(['Side'], as_index=False).count()

,Side,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck
0,P,102,101,100,102,101,101,102,101,99,98,100,99,102,102,102,102
1,S,91,87,90,91,90,91,91,89,88,90,91,90,88,91,91,91

In [2140]:
for ds in all_data:
    ds['Bill_sum'] = ds.RoomService + ds.FoodCourt + ds.ShoppingMall + ds.ShoppingMall + ds.Spa + ds.VRDeck

In [2141]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,01,B,P,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,01,F,S,761.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,01,A,S,10383.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,02,A,S,5547.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,01,F,S,1242.0

In [2142]:
train[train.VIP == True].Bill_sum.mean()

4828.324022346369

In [2143]:
train[train.VIP == False].Bill_sum.mean()

1585.2861957400917

In [2144]:
# AGEBOUND
# for dataset in all_data:
#     dataset.loc[ dataset['Age'] <= 8, 'Age'] = 0
#     dataset.loc[(dataset['Age'] > 8) & (dataset['Age'] <= 16), 'Age'] = 1
#     dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 24), 'Age'] = 2
#     dataset.loc[(dataset['Age'] > 24) & (dataset['Age'] <= 32), 'Age'] = 3
#     dataset.loc[(dataset.Age > 32) & (dataset.Age <= 40), 'Age'] = 4
#     dataset.loc[(dataset.Age > 40) & (dataset.Age <= 48), 'Age'] = 5
#     dataset.loc[(dataset.Age > 48) & (dataset.Age <= 56), 'Age'] = 6
#     dataset.loc[(dataset.Age > 56) & (dataset.Age <= 64), 'Age'] = 7
#     dataset.loc[ dataset['Age'] > 64, 'Age'] = 8
# train.head()

In [2145]:
for ds in all_data:
    ds['AgeBound'] = pd.cut(ds.Age, 10)
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,01,B,P,0.0,"(31.6, 39.5]"
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,01,F,S,761.0,"(23.7, 31.6]"
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,01,A,S,10383.0,"(55.3, 63.2]"
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,02,A,S,5547.0,"(31.6, 39.5]"
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,01,F,S,1242.0,"(15.8, 23.7]"

In [2146]:
pd.crosstab(train.AgeBound, train.Transported)

Transported    False  True
AgeBound
(-0.079, 7.9]    158    433
(7.9, 15.8]      278    371
(15.8, 23.7]    1100    989
(23.7, 31.6]    1037    939
(31.6, 39.5]     719    631
(39.5, 47.4]     435    458
(47.4, 55.3]     283    253
(55.3, 63.2]     143    151
(63.2, 71.1]      54     52
(71.1, 79.0]      19     11

In [2147]:
for ds in all_data:
    ds['BillBound'] = pd.cut(ds.Bill_sum, 5)
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,01,B,P,0.0,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,01,F,S,761.0,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,01,A,S,10383.0,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,02,A,S,5547.0,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,01,F,S,1242.0,"(15.8, 23.7]","(-47.709, 9541.8]"

In [2148]:
pd.cut(train.Bill_sum, 3).info

<bound method Series.info of 0       (-47.709, 15903.0]
1       (-47.709, 15903.0]
2       (-47.709, 15903.0]
3       (-47.709, 15903.0]
4       (-47.709, 15903.0]
               ...
8688    (-47.709, 15903.0]
8689    (-47.709, 15903.0]
8690    (-47.709, 15903.0]
8691    (-47.709, 15903.0]
8692    (-47.709, 15903.0]
Name: Bill_sum, Length: 8693, dtype: category
Categories (3, interval[float64, right]): [(-47.709, 15903.0] < (15903.0, 31806.0] < (31806.0, 47709.0]]>

In [2149]:
train.Bill_sum.min()

0.0

In [2150]:
train[train.VIP == False].Bill_sum.mean() + train[train.VIP == False].Bill_sum.std()

4510.4771455670425

In [2151]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,01,B,P,0.0,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,01,F,S,761.0,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,01,A,S,10383.0,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,02,A,S,5547.0,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,01,F,S,1242.0,"(15.8, 23.7]","(-47.709, 9541.8]"

In [2152]:
pd.crosstab(train.BillBound, train.Transported)

Transported         False  True
BillBound
(-47.709, 9541.8]    3726   3834
(9541.8, 19083.6]     125     67
(19083.6, 28625.4]     16      8
(28625.4, 38167.2]      6      2
(38167.2, 47709.0]      0      1

In [2153]:
train[(train.Bill_sum < 5000) & (train.Transported == True)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,01,F,S,761.0,"(23.7, 31.6]","(-47.709, 9541.8]"
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,01,F,S,1242.0,"(15.8, 23.7]","(-47.709, 9541.8]"
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True,01,F,P,774.0,"(39.5, 47.4]","(-47.709, 9541.8]"
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True,01,F,S,1587.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True,01,F,S,1035.0,"(31.6, 39.5]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8684,9274_01,NaN,True,G/1508/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,True,01,G,P,0.0,"(15.8, 23.7]","(-47.709, 9541.8]"
8685,9275_01,Europa,False,A/97/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Polaton Conable,True,01,A,P,0.0,"(-0.079, 7.9]","(-47.709, 9541.8]"
8687,9275_03,Europa,NaN,A/97/P,TRAPPIST-1e,30.0,False,0.0,3208.0,0.0,2.0,330.0,Atlasym Conable,True,03,A,P,3540.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,01,G,S,3745.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,02,E,S,4826.0,"(39.5, 47.4]","(-47.709, 9541.8]"

In [2154]:
train[(train.Bill_sum < 5000) & (train.Transported == False)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,01,B,P,0.0,"(31.6, 39.5]","(-47.709, 9541.8]"
13,0010_01,Earth,False,G/1/S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,0.0,24.0,Reney Baketton,False,01,G,S,874.0,"(47.4, 55.3]","(-47.709, 9541.8]"
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False,01,NaN,NaN,1784.0,"(23.7, 31.6]","(-47.709, 9541.8]"
17,0015_01,Earth,False,F/4/P,55 Cancri e,24.0,False,0.0,1.0,0.0,0.0,637.0,Carry Hughriend,False,01,F,P,638.0,"(23.7, 31.6]","(-47.709, 9541.8]"
20,0017_02,Earth,False,F/6/P,55 Cancri e,14.0,False,412.0,0.0,1.0,0.0,679.0,Philda Brighttt,False,02,F,P,1093.0,"(7.9, 15.8]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8676,9261_01,Earth,True,G/1504/P,PSO J318.5-22,22.0,False,0.0,0.0,0.0,0.0,0.0,Therta Casentry,False,01,G,P,0.0,"(15.8, 23.7]","(-47.709, 9541.8]"
8683,9272_02,Earth,False,F/1894/P,TRAPPIST-1e,21.0,False,86.0,3.0,149.0,208.0,329.0,Gordo Simson,False,02,F,P,924.0,"(15.8, 23.7]","(-47.709, 9541.8]"
8686,9275_02,Europa,False,A/97/P,TRAPPIST-1e,32.0,False,1.0,1146.0,0.0,50.0,34.0,Diram Conable,False,02,A,P,1231.0,"(31.6, 39.5]","(-47.709, 9541.8]"
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,01,G,S,0.0,"(15.8, 23.7]","(-47.709, 9541.8]"
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,01,E,S,4637.0,"(31.6, 39.5]","(-47.709, 9541.8]"

In [2155]:
train[(train.Bill_sum > 5000) & (train.Transported == True)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
11,0008_03,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,110.0,124.0,Wezena Flatic,True,03,B,P,8746.0,"(39.5, 47.4]","(-47.709, 9541.8]"
54,0056_03,Europa,False,A/1/S,TRAPPIST-1e,27.0,False,279.0,605.0,3374.0,286.0,3.0,Zinoces Tractive,True,03,A,S,7921.0,"(23.7, 31.6]","(-47.709, 9541.8]"
70,0074_01,Europa,False,C/3/S,TRAPPIST-1e,42.0,False,1.0,8397.0,0.0,0.0,506.0,Aldibah Mostedry,True,01,C,S,8904.0,"(39.5, 47.4]","(-47.709, 9541.8]"
105,0110_03,Europa,False,B/5/P,TRAPPIST-1e,42.0,False,2209.0,11418.0,0.0,1868.0,445.0,Alaratz Aloubtled,True,03,B,P,15940.0,"(39.5, 47.4]","(9541.8, 19083.6]"
264,0290_01,Europa,False,B/7/S,55 Cancri e,26.0,False,0.0,4458.0,0.0,1157.0,262.0,Skaton Excialing,True,01,B,S,5877.0,"(23.7, 31.6]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8467,9042_01,Europa,False,B/294/P,55 Cancri e,42.0,False,0.0,5436.0,0.0,471.0,109.0,Askeid Clunic,True,01,B,P,6016.0,"(39.5, 47.4]","(-47.709, 9541.8]"
8595,9175_01,Europa,False,B/299/P,55 Cancri e,32.0,False,0.0,10073.0,0.0,168.0,337.0,Sulaton Dectory,True,01,B,P,10578.0,"(31.6, 39.5]","(9541.8, 19083.6]"
8622,9197_03,Europa,False,C/308/P,TRAPPIST-1e,31.0,False,0.0,4634.0,8.0,616.0,0.0,Pheino Platch,True,03,C,P,5266.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,NaN,True,01,C,S,10869.0,"(31.6, 39.5]","(9541.8, 19083.6]"
8669,9252_01,Europa,False,B/301/P,55 Cancri e,26.0,False,0.0,8160.0,205.0,0.0,438.0,Alchium Stranbeate,True,01,B,P,9008.0,"(23.7, 31.6]","(-47.709, 9541.8]"

In [2156]:
train[(train.Bill_sum > 5000) & (train.Transported == False)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,01,A,S,10383.0,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,02,A,S,5547.0,"(31.6, 39.5]","(-47.709, 9541.8]"
30,0026_01,Europa,False,C/0/P,55 Cancri e,34.0,False,22.0,6073.0,0.0,1438.0,328.0,Anyoni Unconary,False,01,C,P,7861.0,"(31.6, 39.5]","(-47.709, 9541.8]"
73,0078_01,Europa,False,C/4/S,TRAPPIST-1e,38.0,False,0.0,5840.0,0.0,321.0,9654.0,Spuri Pokerheed,False,01,C,S,15815.0,"(31.6, 39.5]","(9541.8, 19083.6]"
75,0082_01,Mars,False,F/16/P,TRAPPIST-1e,42.0,False,7406.0,0.0,0.0,0.0,0.0,Totse Datte,False,01,F,P,7406.0,"(39.5, 47.4]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8604,9183_01,Europa,False,C/307/P,55 Cancri e,34.0,False,0.0,5.0,11.0,62.0,5804.0,NaN,False,01,C,P,5893.0,"(31.6, 39.5]","(-47.709, 9541.8]"
8613,9194_01,NaN,False,E/603/S,55 Cancri e,53.0,False,0.0,4017.0,0.0,13.0,3147.0,NaN,False,01,E,S,7177.0,"(47.4, 55.3]","(-47.709, 9541.8]"
8621,9197_02,Europa,False,C/308/P,NaN,41.0,True,0.0,7964.0,0.0,3238.0,5839.0,Aludram Platch,False,02,C,P,17041.0,"(39.5, 47.4]","(9541.8, 19083.6]"
8626,9202_01,Europa,False,C/309/P,TRAPPIST-1e,26.0,False,8586.0,77.0,114.0,29.0,4.0,Alark Eguing,False,01,C,P,8924.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,01,A,P,8536.0,"(39.5, 47.4]","(-47.709, 9541.8]"

In [2157]:
for ds in all_data:
    ds.drop('Name', axis=1, inplace=True)
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,01,B,P,0.0,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,01,F,S,761.0,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,01,A,S,10383.0,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,02,A,S,5547.0,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,01,F,S,1242.0,"(15.8, 23.7]","(-47.709, 9541.8]"

In [2158]:
train[train.CryoSleep == True].count# /

<bound method DataFrame.count of      PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
7        0006_02      Earth      True     G/0/S    TRAPPIST-1e  28.0  False
9        0008_01     Europa      True     B/1/P    55 Cancri e  14.0  False
10       0008_02     Europa      True     B/1/P    TRAPPIST-1e  34.0  False
18       0016_01       Mars      True     F/5/P    TRAPPIST-1e  45.0  False
21       0020_01      Earth      True     E/0/S    TRAPPIST-1e   1.0  False
...          ...        ...       ...       ...            ...   ...    ...
8679     9267_02     Europa      True   E/607/S    TRAPPIST-1e  20.0  False
8680     9268_01      Earth      True  G/1505/P    TRAPPIST-1e  31.0  False
8681     9270_01      Earth      True  G/1497/S    55 Cancri e  33.0  False
8684     9274_01        NaN      True  G/1508/P    TRAPPIST-1e  23.0  False
8689     9278_01      Earth      True  G/1499/S  PSO J318.5-22  18.0  False

      RoomService  FoodCourt  ShoppingMall  Spa  VRDeck  Transported Group  \
7             0.0        0.0           0.0  0.0     NaN         True    02
9             0.0        0.0           0.0  0.0     0.0         True    01
10            0.0        0.0           NaN  0.0     0.0         True    02
18            0.0        0.0           0.0  0.0     0.0         True    01
21            0.0        0.0           0.0  0.0     0.0        False    01
...           ...        ...           ...  ...     ...          ...   ...
8679          0.0        0.0           0.0  0.0     0.0         True    02
8680          0.0        0.0           0.0  0.0     0.0         True    01
8681          0.0        0.0           0.0  0.0     0.0         True    01
8684          0.0        0.0           0.0  0.0     0.0         True    01
8689          0.0        0.0           0.0  0.0     0.0        False    01

     Deck Side  Bill_sum       AgeBound          BillBound
7       G    S       NaN   (23.7, 31.6]                NaN
9       B    P       0.0    (7.9, 15.8]  (-47.709, 9541.8]
10      B    P       NaN   (31.6, 39.5]                NaN
18      F    P       0.0   (39.5, 47.4]  (-47.709, 9541.8]
21      E    S       0.0  (-0.079, 7.9]  (-47.709, 9541.8]
...   ...  ...       ...            ...                ...
8679    E    S       0.0   (15.8, 23.7]  (-47.709, 9541.8]
8680    G    P       0.0   (23.7, 31.6]  (-47.709, 9541.8]
8681    G    S       0.0   (31.6, 39.5]  (-47.709, 9541.8]
8684    G    P       0.0   (15.8, 23.7]  (-47.709, 9541.8]
8689    G    S       0.0   (15.8, 23.7]  (-47.709, 9541.8]

[3037 rows x 19 columns]>

In [2159]:
train[train.CryoSleep == False].count()

PassengerId     5439
HomePlanet      5315
CryoSleep       5439
Cabin           5331
Destination     5309
Age             5343
VIP             5318
RoomService     5328
FoodCourt       5329
ShoppingMall    5335
Spa             5326
VRDeck          5320
Transported     5439
Group           5439
Deck            5331
Side            5331
Bill_sum        4902
AgeBound        5343
BillBound       4902
dtype: int64

In [2160]:
# for ds in all_data:
#     ds.CryoSleep.fillna(True, inplace=True)

In [2161]:
train.shape

(8693, 19)

In [2162]:
train[train.Side.isnull() == True]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,False,01,NaN,NaN,1784.0,"(23.7, 31.6]","(-47.709, 9541.8]"
93,0101_01,Mars,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,True,01,NaN,NaN,0.0,"(23.7, 31.6]","(-47.709, 9541.8]"
103,0110_01,Europa,False,NaN,TRAPPIST-1e,32.0,False,0.0,410.0,6.0,3929.0,764.0,False,01,NaN,NaN,5115.0,"(31.6, 39.5]","(-47.709, 9541.8]"
222,0239_01,Mars,False,NaN,TRAPPIST-1e,37.0,False,637.0,0.0,0.0,92.0,319.0,False,01,NaN,NaN,1048.0,"(31.6, 39.5]","(-47.709, 9541.8]"
227,0244_01,Mars,True,NaN,TRAPPIST-1e,43.0,False,0.0,0.0,0.0,0.0,0.0,True,01,NaN,NaN,0.0,"(39.5, 47.4]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8209,8772_02,Europa,False,NaN,55 Cancri e,53.0,False,0.0,1127.0,0.0,3939.0,NaN,False,02,NaN,NaN,NaN,"(47.4, 55.3]",NaN
8475,9057_01,Europa,False,NaN,55 Cancri e,36.0,True,132.0,3479.0,0.0,3786.0,0.0,False,01,NaN,NaN,7397.0,"(31.6, 39.5]","(-47.709, 9541.8]"
8485,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,0.0,0.0,True,03,NaN,NaN,0.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8509,9081_03,Earth,True,NaN,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,0.0,0.0,False,03,NaN,NaN,0.0,"(-0.079, 7.9]","(-47.709, 9541.8]"
8656,9233_01,Earth,False,NaN,TRAPPIST-1e,41.0,False,3.0,0.0,668.0,0.0,0.0,True,01,NaN,NaN,1339.0,"(39.5, 47.4]","(-47.709, 9541.8]"

In [2163]:
# train[train.Group == '01'].Cabin.mean()

In [2164]:
for ds in all_data:
    ds.Group = ds.Group.astype(int)

In [2165]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,B,P,0.0,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1,F,S,761.0,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,1,A,S,10383.0,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,2,A,S,5547.0,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1,F,S,1242.0,"(15.8, 23.7]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,1,A,P,8536.0,"(39.5, 47.4]","(-47.709, 9541.8]"
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,1,G,S,0.0,"(15.8, 23.7]","(-47.709, 9541.8]"
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,1,G,S,3745.0,"(23.7, 31.6]","(-47.709, 9541.8]"
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,1,E,S,4637.0,"(31.6, 39.5]","(-47.709, 9541.8]"
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,2,E,S,4826.0,"(39.5, 47.4]","(-47.709, 9541.8]"

In [2166]:
for ds in all_data:
    # first = ds.Cabin.str.find('/')
    # sec = ds.Cabin.str[::-1].find('/')
    ds['CabinNum'] = ds.Cabin.str.extract('/(.*)/').astype(float)

In [2167]:
for ds in all_data:
    ds.CabinNum.fillna(ds.CabinNum.mean(), inplace=True)

In [2168]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound,CabinNum
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,B,P,0.0,"(31.6, 39.5]","(-47.709, 9541.8]",0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1,F,S,761.0,"(23.7, 31.6]","(-47.709, 9541.8]",0.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,1,A,S,10383.0,"(55.3, 63.2]","(9541.8, 19083.6]",0.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,2,A,S,5547.0,"(31.6, 39.5]","(-47.709, 9541.8]",0.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1,F,S,1242.0,"(15.8, 23.7]","(-47.709, 9541.8]",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,1,A,P,8536.0,"(39.5, 47.4]","(-47.709, 9541.8]",98.0
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,1,G,S,0.0,"(15.8, 23.7]","(-47.709, 9541.8]",1499.0
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,1,G,S,3745.0,"(23.7, 31.6]","(-47.709, 9541.8]",1500.0
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,1,E,S,4637.0,"(31.6, 39.5]","(-47.709, 9541.8]",608.0
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,2,E,S,4826.0,"(39.5, 47.4]","(-47.709, 9541.8]",608.0

In [2169]:
train[train.Group == 1].CabinNum.mean()

627.5816741119269

In [2170]:
train[train.Group == 1].CabinNum.max()

1893.0

In [2171]:
print(train[train.VIP == True].Age.mean())
train[train.VIP == True].Age.std()

37.44949494949495

11.611956674682142

In [2172]:
print(train[train.VIP == False].Age.mean())
train[train.VIP == False].Age.std()

28.639610789506097

14.469895098101045

In [2173]:
print(train.Age.mean())
train.Age.std()

28.82793046746535

14.48902142390878

In [2174]:
#np.random.randint(train.Age.mean() - train.Age.std(), train.Age.mean() + train.Age.std())
# for ds in all_data:
#     ds.Age.fillna(np.random.randint(train.Age.mean() - train.Age.std(), train.Age.mean() + train.Age.std()), inplace=True)
# train[train.Age.isnull()]

In [2175]:
train[train.BillBound.isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Side,Bill_sum,AgeBound,BillBound,CabinNum
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,True,2,G,S,NaN,"(23.7, 31.6]",NaN,0.0
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,True,2,B,P,NaN,"(31.6, 39.5]",NaN,1.0
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,False,1,F,P,NaN,"(23.7, 31.6]",NaN,3.0
23,0020_03,Earth,True,E/0/S,55 Cancri e,29.0,False,0.0,0.0,NaN,0.0,0.0,False,3,E,S,NaN,"(23.7, 31.6]",NaN,0.0
25,0020_05,Earth,True,E/0/S,PSO J318.5-22,1.0,False,NaN,0.0,0.0,0.0,0.0,False,5,E,S,NaN,"(-0.079, 7.9]",NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8642,9221_01,Earth,True,G/1497/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,NaN,False,1,G,P,NaN,"(15.8, 23.7]",NaN,1497.0
8643,9222_01,Mars,True,F/1784/S,TRAPPIST-1e,50.0,False,0.0,0.0,0.0,NaN,0.0,True,1,F,S,NaN,"(47.4, 55.3]",NaN,1784.0
8665,9247_01,Earth,True,G/1491/S,TRAPPIST-1e,33.0,False,0.0,0.0,0.0,0.0,NaN,False,1,G,S,NaN,"(31.6, 39.5]",NaN,1491.0
8667,9250_01,Europa,False,E/597/P,TRAPPIST-1e,29.0,False,0.0,2972.0,NaN,28.0,188.0,True,1,E,P,NaN,"(23.7, 31.6]",NaN,597.0
8675,9259_01,Earth,NaN,F/1893/P,TRAPPIST-1e,44.0,False,1030.0,1015.0,0.0,11.0,NaN,True,1,F,P,NaN,"(39.5, 47.4]",NaN,1893.0

In [2176]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# for ds in all_data:
#     ds.RoomService.fillna(0, inplace=True)
#     ds.FoodCourt.fillna(0, inplace=True)
#     ds.ShoppingMall.fillna(0, inplace=True)
#     ds.Spa.fillna(0, inplace=True)
#     ds.VRDeck.fillna(0, inplace=True)
test = test.select_dtypes(include=[np.number]).interpolate().dropna()
train = train.select_dtypes(include=[np.number]).interpolate().dropna()

In [2181]:
train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Group,Bill_sum,CabinNum
0,39.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0
1,24.0,109.0,9.0,25.0,549.0,44.0,1,761.0,0.0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,1,10383.0,0.0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,2,5547.0,0.0
4,16.0,303.0,70.0,151.0,565.0,2.0,1,1242.0,1.0
...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,1,8536.0,98.0
8689,18.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1499.0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,1,3745.0,1500.0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,1,4637.0,608.0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,2,4826.0,608.0

In [2177]:
for ds in all_data:
    ds['Bill_sum'] = ds.RoomService + ds.FoodCourt + ds.ShoppingMall + ds.ShoppingMall + ds.Spa + ds.VRDeck
for ds in all_data:
    ds['BillBound'] = pd.cut(ds.Bill_sum, 5)

In [2178]:
# for ds in all_data:
#     ds.loc[ds.Bill_sum > 5000, 'VIP'].fillna(True, inplace=True)
#     ds.loc[ds.Bill_sum <= 5000, 'VIP'].fillna(False, inplace=True)
# train[train.VIP.isnull()]

In [2179]:
# for ds in all_data:
#     ds.HomePlanet.fillna('Earth', inplace=True)
# train[train.HomePlanet.isnull()]

In [2182]:
# pd.crosstab(train.HomePlanet, train.Destination)

In [ ]:
# for ds in all_data:
#     ds.Destination.fillna('TRAPPIST-1e', inplace=True)

In [ ]:
train.head()

In [ ]:
# for ds in all_data:
#     ds.loc[(ds.VIP.isnull()) & (ds.Bill_sum > 5000), 'VIP'] = True
#     ds.loc[(ds.VIP.isnull()) & (ds.Bill_sum <= 5000), 'VIP'] = False

In [ ]:
train.Group.values

In [2183]:
train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Group,Bill_sum,CabinNum
0,39.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0
1,24.0,109.0,9.0,25.0,549.0,44.0,1,761.0,0.0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,1,10383.0,0.0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,2,5547.0,0.0
4,16.0,303.0,70.0,151.0,565.0,2.0,1,1242.0,1.0
...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,1,8536.0,98.0
8689,18.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1499.0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,1,3745.0,1500.0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,1,4637.0,608.0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,2,4826.0,608.0

In [2043]:
for ds in all_data:
    ds.drop(['Group', 'Cabin', 'CabinNum', 'Bill_sum'], axis=1, inplace=True)

In [2044]:
for ds in all_data:
    ds.HomePlanet = le.fit_transform(ds.HomePlanet)
    ds.Destination = le.fit_transform(ds.Destination)

In [2047]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Side,AgeBound,BillBound
0,0001_01,1,False,2,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,P,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,0,False,2,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,S,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,1,False,2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,S,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,1,False,2,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,S,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,0,False,2,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,S,"(15.8, 23.7]","(-47.709, 9541.8]"

In [1951]:
# AGEBOUND
for dataset in all_data:
    dataset.loc[ dataset['Age'] <= 8, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 8) & (dataset['Age'] <= 16), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 24), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 24) & (dataset['Age'] <= 32), 'Age'] = 3
    dataset.loc[(dataset.Age > 32) & (dataset.Age <= 40), 'Age'] = 4
    dataset.loc[(dataset.Age > 40) & (dataset.Age <= 48), 'Age'] = 5
    dataset.loc[(dataset.Age > 48) & (dataset.Age <= 56), 'Age'] = 6
    dataset.loc[(dataset.Age > 56) & (dataset.Age <= 64), 'Age'] = 7
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 8
train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Deck,Side,AgeBound,BillBound
0,0001_01,1,False,2,4.0,False,False,B,P,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,0,False,2,2.0,False,True,F,S,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,1,False,2,7.0,True,False,A,S,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,1,False,2,4.0,False,False,A,S,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,0,False,2,1.0,False,True,F,S,"(15.8, 23.7]","(-47.709, 9541.8]"

In [1952]:
for ds in all_data:
    ds.CryoSleep = le.fit_transform(ds.CryoSleep)
    ds.VIP = le.fit_transform(ds.VIP)
train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Deck,Side,AgeBound,BillBound
0,0001_01,1,0,2,4.0,0,False,B,P,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,0,0,2,2.0,0,True,F,S,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,1,0,2,7.0,1,False,A,S,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,1,0,2,4.0,0,False,A,S,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,0,0,2,1.0,0,True,F,S,"(15.8, 23.7]","(-47.709, 9541.8]"

In [1953]:
train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Deck,Side,AgeBound,BillBound
0,0001_01,1,0,2,4.0,0,False,B,P,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,0,0,2,2.0,0,True,F,S,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,1,0,2,7.0,1,False,A,S,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,1,0,2,4.0,0,False,A,S,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,0,0,2,1.0,0,True,F,S,"(15.8, 23.7]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,0,5.0,1,False,A,P,"(39.5, 47.4]","(-47.709, 9541.8]"
8689,9278_01,0,1,1,2.0,0,False,G,S,"(15.8, 23.7]","(-47.709, 9541.8]"
8690,9279_01,0,0,2,3.0,0,True,G,S,"(23.7, 31.6]","(-47.709, 9541.8]"
8691,9280_01,1,0,0,3.0,0,False,E,S,"(31.6, 39.5]","(-47.709, 9541.8]"
8692,9280_02,1,0,2,5.0,0,True,E,S,"(39.5, 47.4]","(-47.709, 9541.8]"

In [1954]:
train.Transported = le.fit_transform(train.Transported)

In [1955]:
train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Deck,Side,AgeBound,BillBound
0,0001_01,1,0,2,4.0,0,0,B,P,"(31.6, 39.5]","(-47.709, 9541.8]"
1,0002_01,0,0,2,2.0,0,1,F,S,"(23.7, 31.6]","(-47.709, 9541.8]"
2,0003_01,1,0,2,7.0,1,0,A,S,"(55.3, 63.2]","(9541.8, 19083.6]"
3,0003_02,1,0,2,4.0,0,0,A,S,"(31.6, 39.5]","(-47.709, 9541.8]"
4,0004_01,0,0,2,1.0,0,1,F,S,"(15.8, 23.7]","(-47.709, 9541.8]"
...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,0,5.0,1,0,A,P,"(39.5, 47.4]","(-47.709, 9541.8]"
8689,9278_01,0,1,1,2.0,0,0,G,S,"(15.8, 23.7]","(-47.709, 9541.8]"
8690,9279_01,0,0,2,3.0,0,1,G,S,"(23.7, 31.6]","(-47.709, 9541.8]"
8691,9280_01,1,0,0,3.0,0,0,E,S,"(31.6, 39.5]","(-47.709, 9541.8]"
8692,9280_02,1,0,2,5.0,0,1,E,S,"(39.5, 47.4]","(-47.709, 9541.8]"

In [1956]:
for ds in all_data:
    ds.Deck = le.fit_transform(ds.Deck)
    ds.Side = le.fit_transform(ds.Side)

In [1957]:
# for dataset in all_data:
#     dataset.loc[ dataset['Bill_sum'] <= 5000, 'Bill_sum'] = 0
#     dataset.loc[(dataset['Bill_sum'] > 5000) & (dataset['Bill_sum'] <= 10000), 'Bill_sum'] = 1
#     dataset.loc[(dataset['Bill_sum'] > 10000) & (dataset['Bill_sum'] <= 15000), 'Bill_sum'] = 2
#     dataset.loc[(dataset['Bill_sum'] > 15000) & (dataset['Bill_sum'] <= 20000), 'Bill_sum'] = 3
#     dataset.loc[(dataset.Bill_sum > 20000), 'Bill_sum'] = 4
# train.head()

In [1958]:
for ds in all_data:
    ds.drop(['AgeBound', 'BillBound'], axis=1, inplace=True)

In [1959]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,Deck,Side
0,0001_01,1,0,2,4.0,0,0,1,0
1,0002_01,0,0,2,2.0,0,1,5,1
2,0003_01,1,0,2,7.0,1,0,0,1
3,0003_02,1,0,2,4.0,0,0,0,1
4,0004_01,0,0,2,1.0,0,1,5,1

In [1960]:
x_train = train.drop(['PassengerId', 'Transported'], axis=1)
y_train = train.Transported

In [1961]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)

In [1962]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier

In [1963]:
logistic_regr = LogisticRegression()
logistic_regr.fit(x_train, y_train)
logistic_regr_score = round(logistic_regr.score(x_train, y_train) * 100, 5)
logistic_regr_score

71.58633

In [1964]:
svc = SVC()
svc.fit(x_train, y_train)
svc_score = round(svc.score(x_train, y_train) * 100, 2)
svc_score

73.23

In [1965]:
linear_svc = LinearSVC(max_iter=5000)
linear_svc.fit(x_train, y_train)
linear_svc_score = round(linear_svc.score(x_train, y_train) * 100, 5)
linear_svc_score

71.91994

In [1966]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
knn_score = round(knn.score(x_train, y_train) * 100, 5)
knn_score

70.01035

In [1967]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(x_train, y_train)
decision_tree_score = round(decision_tree.score(x_train, y_train) * 100, 5)
decision_tree_score

76.37179

In [1968]:
rf = RandomForestClassifier(random_state=0,
                            criterion='entropy')
rf.fit(x_train, y_train)
rf_score = round(rf.score(x_train, y_train) * 100, 5)
rf_score

76.37179

In [1969]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)
gnb_score = round(gnb.score(x_train, y_train) * 100, 5)
gnb_score

70.04486

In [1970]:
perc = Perceptron()
perc.fit(x_train, y_train)
perc_score = round(perc.score(x_train, y_train) * 100, 5)
perc_score

59.26608

In [1971]:
sgd = SGDClassifier()
sgd.fit(x_train, y_train)
sgd_score = round(sgd.score(x_train, y_train) * 100, 2)
sgd_score

71.77

In [1972]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(x_train, y_train)
lda_score = round(lda.score(x_train, y_train) * 100, 5)
lda_score

71.91994

In [1973]:
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'Support Vector Machines', 'Linear SVC',
              'KNN', 'Decision Tree', 'Random Forest', 'Naive Bayes',
              'Perceptron', 'Stochastic Gradient Decent', 'LinearDiscriminantAnalysis'],

    'Score': [logistic_regr_score, svc_score, linear_svc_score,
              knn_score,  decision_tree_score, rf_score, gnb_score,
              perc_score, sgd_score, lda_score]
})

models.sort_values(by='Score', ascending=False)

                        Model     Score
4               Decision Tree  76.37179
5               Random Forest  76.37179
1     Support Vector Machines  73.23000
2                  Linear SVC  71.91994
9  LinearDiscriminantAnalysis  71.91994
8  Stochastic Gradient Decent  71.77000
0         Logistic Regression  71.58633
6                 Naive Bayes  70.04486
3                         KNN  70.01035
7                  Perceptron  59.26608

In [1974]:
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import VotingClassifier

# 1. Dыбираем модели, включенные в голосование
model1 = RandomForestClassifier()
model2 = SVC()
model3 = KNeighborsClassifier()


# 2. Сам "голосующий" классификатор
model = VotingClassifier(estimators=[('perceptron', model1), ('sdg', model2), ('nb', model3)], voting='soft')
model.fit(x_train,y_train)

# 3. Confusion Matrix
y_pred_voter = model.predict(x_train)
acc_voter = round(model.score(x_train, y_train) * 100, 2)
print ("Accuracy: %i %% \n"%acc_voter)

#class_names = ['Survived', 'Not Survived']

# Compute confusion matrix
cnf_matrix = confusion_matrix(y_train, y_pred_voter)
cnf_matrix_percent = cnf_matrix.astype('float') / cnf_matrix.sum(axis=1)[:, np.newaxis]

true_class_names = ['True Survived', 'True Not Survived']
predicted_class_names = ['Predicted Survived', 'Predicted Not Survived']

df_cnf_matrix = pd.DataFrame(cnf_matrix,
                             index = true_class_names,
                             columns = predicted_class_names)

df_cnf_matrix_percent = pd.DataFrame(cnf_matrix_percent,
                                     index = true_class_names,
                                     columns = predicted_class_names)

plt.figure(figsize = (15,5))

ax1 = plt.subplot(121)
sns.heatmap(df_cnf_matrix, annot=True, fmt='d')
ax1.title.set_text('Voting: values')

ax2 = plt.subplot(122)
sns.heatmap(df_cnf_matrix_percent, annot=True)
ax2.title.set_text('Voting: %')

AttributeError: predict_proba is not available when  probability=False

In [ ]:
test.head()

In [ ]:
x_test = test.drop('PassengerId', axis=1)

In [ ]:
x_test

In [ ]:
x_test = sc.fit_transform(x_test)

In [ ]:
# rf_pred = rf.predict(x_test)
# vote_pred = rf.predict(x_test)
# dt_pred = decision_tree.predict(x_test)
model_pred = model.predict(x_test)
submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Transported": model_pred
})

In [ ]:
submission.loc[submission.Transported == 0, 'Transported'] = False
submission.loc[submission.Transported == 1, 'Transported'] = True

In [ ]:
submission.to_csv('submission.csv', index=False)
submission